body{
    margin: 0;
    display: flex;
    background-color: #990F02;
    background-size: cover;
    background-position: center;
}
nav a{
    width:15%;
    margin: auto;
    padding: 20px;
    felx-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 10px;
    color: #F9E4BC;
    letter-spacing: normal;
}

.element-stilizat{
    width: 100%
    flex-grow: 1;
    padding: 20px;
    text-align: left;
    color: #F9E4BC;
    display: inline-block;
}
